/node_modules
/public/hot
/public/storage
/storage/uploads
/storage/*.key
/tests/_reports/*
/tests/_reports/coverage
/vendor
.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docker-compose.override.yml
*/DS.Store
DS.Store
.DS_Store
postgis/
public/js/
public/css/
.env